/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/

.greyBackground {
  background-color: #f6f6f6;
  margin-bottom: 25px;
}

.mb-3 {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
}

.product {
	margin-bottom: 30px;
  overflow: unset !important;
}
.product-inner {
  max-height: 450px;
  min-height: 450px;
	/* box-shadow: outset 0 0 10px 0px rgba(0,0,0,.2); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	padding: 10px;
}
.product img {
  max-height: 250px;min-height: 250px;max-width: 350px;min-width: 350px;
  object-fit: cover;
}

.edit{
  margin-top:10px;position:absolute
}
.pt-10{
  padding-top:10px
}

form label {
  display: inline-block;
  width: 100px;
}

form div {
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-left: 5px;
}

label.error {
  display: inline;
}