<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>KEA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Owl Carousel main css -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="/static/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="/static/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="/static/css/custom.css">


    <!-- Modernizr JS -->
    <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/userHome.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <header id="header" class="htc-header header--3 bg__white">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                            <div class="logo">
                                <a href="/userHome">
                                    <img src="/static/images/logo/logo.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <!-- Start MAinmenu Ares -->
                        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                            <nav class="mainmenu__nav hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li class="drop"><a href="/userHome">Home</a></li>
                                    <li class="drop"><a href="/orders">My Orders</a></li>
                                    <li class="drop"><a href="/cart">Cart</a></li>
                                    <li class="drop"><a href="/contact">Contact Us</a></li>
                                            <!-- End Single Mega MEnu -->
                                        </ul>
                                    </li>
                                </ul>
                            </nav>                        
                        </div>
                        <!-- End MAinmenu Ares -->
                        <div class="col-md-2 col-sm-4 col-xs-3">  
                            <ul class="menu-extra">
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Style -->
        
        <div class="body__overlay"></div>
        
        <!-- Start Feature Product -->
        
        <!-- End Feature Product -->

        <!-- Start Our Product Area -->
        <section class="htc__product__area bg__white">
            <div class="container">
                <div class="cart-main-area ptb--120 bg__white">
                    <div class="container">
                        
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom:10px">
                                
                                <div class="container">
                                    <div class="row" id="search">
                                        <form id="search-form" >
                                            <div class="form-group col-xs-9">
                                                <input class="form-control" type="text" placeholder="Search" name="searchText" id="searchText"/>
                                            </div>
                                            <div class="form-group col-xs-3">
                                                <button type="submit" class="btn btn-block btn-primary" id='searchButton'>Search</button>
                                            </div>
                                            <div class="form-group col-sm-3 col-xs-6">
                                                <select data-filter="make" class="filter-make filter form-control" id="category" name= "category" aria-placeholder="Category" id="category">
                                                    <option value="*">Select Category</option>
        
                                                </select>
                                            </div>
                                            <div class="form-group col-sm-3 col-xs-6">
                                                <select data-filter="model" class="filter-model filter form-control" name="price" id="price">
                                                    <option value="*">Select Price Range</option>
                                                    <option value="10-50">10 - 50</option>
                                                    <option value="50-100">50 - 100</option>
                                                    <option value="100">100 +</option>
                                                    <option value="*">Show All</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-sm-3 col-xs-6">
                                                <select data-filter="type" class="filter-type filter form-control" name="quantity" id="quantity">
                                                    <option value="*">Select Quantity</option>
                                                    <option value="1-5">1 - 5</option>
                                                    <option value="5-10">5 - 10</option>
                                                    <option value="10">10 +</option>
                                                    <option value="*">Show All</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row" id="filter">
                                     
                                    </div>
                                    <div class="row" id="products">
                                        
                                    </div>
                                   
                                    
                                </div>
                                
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div id="editForm">
        
                                </div>
                                <div class="center" >
                                    <div class="pagination" id="pagination-container">
                                    
                                    </div>
                                  </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
        
            </div>
        </section>
        <!-- Start Footer Area -->
        <footer class="htc__foooter__area gray-bg">
            <div class="container">
                
                <!-- Start Copyright Area -->
                <div class="htc__copyright__area">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="copyright__inner">
                                <div class="copyright">
                                    <p>© 2021 <a href="#">TEAM</a>
                                    All Right Reserved.</p>
                                </div>
                                <ul class="footer__menu">
                                    <li><a href="/adminHome">Home</a></li>
                                    <li><a href="/orders">My Orders</a></li>
                                    <li><a href="/cart">Cart</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area -->
            </div>
        </footer>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal__container" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <!-- Start product images -->
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="big images" src="/static/images/product/big-img/1.jpg">
                                </div>
                            </div>
                            <!-- end product images -->
                            <div class="product-info">
                                <h1>Simple Fabric Bags</h1>
                                <div class="rating__and__review">
                                    <ul class="rating">
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                        <li><span class="ti-star"></span></li>
                                    </ul>
                                    <div class="review">
                                        <a href="#">4 customer reviews</a>
                                    </div>
                                </div>
                                <div class="price-box-3">
                                    <div class="s-price-box">
                                        <span class="new-price">$17.20</span>
                                        <span class="old-price">$45.00</span>
                                    </div>
                                </div>
                                <div class="quick-desc">
                                    Designed for simplicity and made from high quality materials. Its sleek geometry and material combinations creates a modern look.
                                </div>
                                <div class="select__color">
                                    <h2>Select color</h2>
                                    <ul class="color__list">
                                        <li class="red"><a title="Red" href="#">Red</a></li>
                                        <li class="gold"><a title="Gold" href="#">Gold</a></li>
                                        <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                        <li class="orange"><a title="Orange" href="#">Orange</a></li>
                                    </ul>
                                </div>
                                <div class="select__size">
                                    <h2>Select size</h2>
                                    <ul class="color__list">
                                        <li class="l__size"><a title="L" href="#">L</a></li>
                                        <li class="m__size"><a title="M" href="#">M</a></li>
                                        <li class="s__size"><a title="S" href="#">S</a></li>
                                        <li class="xl__size"><a title="XL" href="#">XL</a></li>
                                        <li class="xxl__size"><a title="XXL" href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="social-sharing">
                                    <div class="widget widget_socialsharing_widget">
                                        <h3 class="widget-title-modal">Share this product</h3>
                                        <ul class="social-icons">
                                            <li><a target="_blank" title="rss" href="#" class="rss social-icon"><i class="zmdi zmdi-rss"></i></a></li>
                                            <li><a target="_blank" title="Linkedin" href="#" class="linkedin social-icon"><i class="zmdi zmdi-linkedin"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                            <li><a target="_blank" title="Tumblr" href="#" class="tumblr social-icon"><i class="zmdi zmdi-tumblr"></i></a></li>
                                            <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="zmdi zmdi-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="addtocart-btn">
                                    <a href="#">Add to cart</a>
                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- END Modal -->
    </div>
    <!-- END QUICKVIEW PRODUCT -->
    <!-- Placed js at the end of the document so the pages load faster -->

   <!-- jquery latest version -->
    <script src="/static/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="/static/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="/static/js/main.js"></script>

</body>

</html>